.icons{
    height: 40px;
    width: 40px;
    margin-right: 15px;
}

.top{
   background-color:lightgray;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   padding: 20px;
   transition: 700ms all;
}


.card{
    width: 360px;
    height: auto;
    margin-left: 20px;
    margin-bottom: 10px;
    transition: 700ms all;
}

.card:hover{
    background-color: rgba(150, 179, 241, 0.377);
}
