.icons{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.top{
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   align-items: center;
   padding: 20px;
   transition: 700ms all;
   width: 100%;
}


.card{
    width: 380px;
    height: auto;
    margin-left: 20px;
    margin-bottom: 10px;
    transition: 700ms all;
}

.card:hover{
    background-color: rgba(150, 179, 241, 0.377);
}
