.icons{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.top{
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   align-items: center;
   padding: 20px;
   transition: 700ms all;
   width: 100%;
}


.card{
    width: 380px;
    height: auto;
    margin-left: 20px;
    margin-bottom: 10px;
    transition: 700ms all;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.card:hover{
    background-color: rgba(150, 179, 241, 0.377);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    transform: scale(1.02);
}

@media (width > 1900px)
{
  .card{
    width: 440px;
  }
}
